body {
	background-color: #96A8C8;
}

div {
	margin: auto;
	border: 1.5px #000 solid;
	border-radius: 12px;
	background-color: #fff;
	padding: 15px;
}

img {
	margin: 5px;
}

span {
	background-color: #eee;
	font-family: monospace;
}


#frames {
	margin-top: 5px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}



@media (min-width: 850px) {
	#frames {
		width: 80%;
	}
	.top {
		width: 70%;
	}
}
